<header>
    <nav class="navbar navbar-dark bg-dark mb-2">
        <a class="navbar-brand d-flex" href="/">
          <img class="mr-3" src="icons/logoGPS.svg" class="d-inline-block align-top" alt="">
          <label class="h2 d-flex align-items-center">LazzyPOINT</label>
        </a>
        <a href="/log">
            <i class="fas fa-bars fa-3x btn btn-outline-secondary"></i>
        </a> 
    </nav>
</header>