<header>
    <nav class="navbar navbar-dark bg-dark mb-2">
        <a class="navbar-brand d-flex" href="/" >
          <img class="mr-3" src="icons/logoGPS.svg" class="d-inline-block align-top" alt="">
          <label class="h2 d-flex align-items-center text-center">LazzyPOINT</label>
        </a>
        <div class="text-light"><h1><%= datos.usuario %></h1>
          <a href="/logout"><div class = "text-center">Cerrar Sesión</div> </a>
        </div>
        
    </nav>
</header>