
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <form action="/Form_upload" method="post" name="enter_user" enctype="multipart/form-data" class="was-validated"> 
        <div class="form-group">
            <label for="upPhoto">Seleccione Imagen:</label>
            <input type="file" class="form-control" id="upPhoto" placeholder="Select photo" name="file" required> 
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Extension not valid.</div>
        </div>

        <label for="inputExt" class="mr-sm-2">Extensión:</label>
        <input type="text" class="form-control mb-2 mr-sm-2" placeholder="No se ha seleccionado una imagen" id="inputExt" disabled>

        <div class="form-group">
            <label for="udescrip">Descripcion:</label>
            <textarea type="text" class="form-control" id="udescrip" placeholder="Enter description" name="udescrip" required></textarea>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div> 

        
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button  type="submit" class="btn btn-info btn-lg">Save changes</button>
        </div>
    </form>
    <script>
        $("#upPhoto").change(function() {
            var ext = $('#upPhoto').val().split('.').pop().toLowerCase();
            if($.inArray(ext, ['gif','png','jpg','jpeg']) == -1) {
                $("#upPhoto").val("");
                $("#inputExt").val("No se ha seleccionado una imagen");
            }
            else{
                $("#inputExt").text($("#upPhoto").val().split('.').pop());
                $("#inputExt").val($("#upPhoto").val().split('.').pop());
            }
        }); 
    </script>

          