<divLogin>
    <form action="/index.html" method="post">
        <table>
                <tr>
                    <td>Usuario: </td>
                    <td><input type="text" name="user" placeholder="user" required/><br></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="pass" placeholder="password" required/><br></td>
                </tr>
                <tr>
                    <td  class="table-align-center"  colspan="2"><input type="submit" value="Conectar"/></td>

                </tr>
        </table>
    </form>
</divLogin>