 <divHeaderUser>
    <ul>
            <li><a href="/">Perfil</a></li>
            <li><a href="/friends">Amigos</a></li>
            <li><a href="questions.html">Preguntas</a></li>
            <li><a href="/desconectar">Desconectar</a></li>   
            <li><img class="imagen-logo" src="/uploads/<%= datos.foto %>"><span class="nav-points" ><%= datos.puntos %> puntos </span></li>
    </ul>   
</divHeaderUser>