<%- include("../includes/header") %> 
<div class="body-loginsignup">
    <div class="row justify-content-center align-items-center minh-100">
        <div class="col-sm">
            <h2 class="text-center">Registrarse</h2>
            <form action="/registro" method="post">
                <div class="form-group">
                    <label for="nickr">Nick</label>
                    <input name="nickr" type="text" class="form-control" id="nickr" aria-describedby="nickHelp" placeholder="Nick">
                    <small id="nickHelp" class="form-text text-muted">Introduce tu usuario</small>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">
                    <small id="emailHelp" class="form-text text-muted">Introduce tu email</small>
                </div>
                <div class="form-group">
                    <label for="pwdr">Contraseña</label>
                    <input name="pwdr" type="password" class="form-control" id="pwdr" placeholder="Contraseña">
                </div>
                <div class="form-group">
                    <label for="rol">Rol</label>
                    <select name="rol" class="form-control" id="rol">
                        <option value="1">Diseñador</option>
                        <option value="2">Aportador</option>
                        <option value="3">Moderador</option>
                      </select>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-lg btn-primary">Registrarse</button>
                </div>
            </form>
        </div>
        <div class="col-line"></div>
        <div class="col-sm">
            <h2 class="text-center">Login</h2>
            <form action="/menu" method="post">
                <div class="form-group">
                    <label for="nickl">Nick o email</label>
                    <input name="nickl"  type="text" class="form-control" id="nickl" aria-describedby="nickHelp" placeholder="Introduce tu contraseña o email">
                </div>
                <div class="form-group">
                    <label for="pwdl">Contraseña</label>
                    <input name="pwdl" type="password" class="form-control" id="pwdl" placeholder="Intorduc tu constraseña">
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-lg btn-primary">Acceder</button>
                </div>
                <p class="h3 text-danger"><%= error %></p>
            </form>
        </div>
    </div>
</div>