<div class="body-login">
    <div class="row">
        <div class="col-sm">
            <h2 class="text-center">Login</h2>
            <form action="/log" method="post">
                <div class="form-group">
                    <label for="nickl">Nick o email</label>
                    <input type="text" class="form-control" id="nickl" aria-describedby="nickHelp" placeholder="Nick o email">
                    <small id="nickHelp" class="form-text text-muted">Introduce tu contraseña o email</small>
                </div>
                <div class="form-group">
                    <label for="pwd">Constraseña</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Contraseña">
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-lg btn-primary">Acceder</button>
                </div>
            </form>
        </div>
    </div>
</div>