<div class="body-signup">
    <div class="row">
        <div class="col-sm">
            <form action="/registration" method="post">
                <div class="form-group">
                    <label for="nick">Nick</label>
                    <input type="text" class="form-control" id="nick" aria-describedby="nickHelp" placeholder="Nick">
                    <small id="nickHelp" class="form-text text-muted">Introduce tu usuario</small>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">
                    <small id="emailHelp" class="form-text text-muted">Introduce tu email</small>
                </div>
                <div class="form-group">
                    <label for="pwd">Constraseña</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Contraseña">
                </div>
                <div class="form-group">
                    <label for="nick">Nick</label>
                    <input type="text" class="form-control" id="nick" aria-describedby="nickHelp" placeholder="Nick">
                    <small id="nickHelp" class="form-text text-muted">Introduce tu usuario</small>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-lg btn-primary">Registrarse</button>
                </div>
            </form>
        </div>
    </div>
</div>