<%- include("../includes/headerlogin") %>
<div class="container">
    <div class="row justify-content-center align-items-center minh-100"> 
        <h2 class="text-center">Menú</h2>             
    </div>
    <div class="row mt-5 justify-content-around">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 btn-primary mb-3 menuButton">
            <a href="/galeriaImagenes">
                <div class="box-part text-center">
                    <i class="fas fa-camera-retro fa-5x"></i>
                    <div class="title">
                        <h4>Galeria de Imagenes</h4>
                    </div>
                    <div class="text">
                        <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                    </div> 
                </div>
            </a>
        </div>	 
         <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 btn-warning mb-3 menuButton">
            <a href="/presentaciones">
                <div class="box-part text-center">
                    <i class="fas fa-paint-brush fa-5x pt-1"></i>
                    <div class="title">
                        <h4>Presentaciones</h4>
                    </div>
                    <div class="text">
                        <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                    </div>
                </div>
            </a>
        </div>
         <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 btn-success menuButton">
            <a href="/contacto">
                <div class="box-part text-center">
                    <i class="fas fa-ticket-alt fa-5x"></i>
                    <div class="title">
                        <h4>Contactar con moderador</h4>
                    </div>
                    <div class="text">
                        <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                    </div> 
                </div>
            </a>
        </div>
    
       
       
            
                
            
        	  

</div>		
</div>