
<!DOCTYPE html>
<html>
<head>
    <title>Prueba de pagina </title>
    <meta charset="utf-8">
</head>

<body>
    <ul>
        <% user.forEach (user => { %>
            <li><%=user %> </li>
        <% }); %>
    </ul>
</body>
</html>